In [1]:
import pandas as pd

comunas = {14166:'Cerrillos', 14156:'Cerro Navia', 14127:'Conchalí', 16165:'El Bosque', 14157:'Estación Central', 14158:'Huechuraba', 13167:'Independencia', 16110:'La Cisterna', 15128:'La Florida',  16131:'La Granja', 16154:'La Pintana', 15132:'La Reina', 15108:'Las Condes',  15161:'Lo Barnechea', 16164:'Lo Espejo', 14155:'Lo Prado', 15151:'Macul', 14109:'Maipú', 15105:'Ñuñoa', 16162:'Pedro Aguirre Cerda', 15152:'Peñalolén', 15103:'Providencia', 14111:'Pudahuel', 16301:'Puente Alto',  14114:'Quilicura', 14107:'Quinta Normal', 13159:'Recoleta', 14113:'Renca', 16401:'San Bernardo', 16163:'San Joaquín',  16106:'San Miguel', 16153:'San Ramón', 13101:'Santiago',  15160:'Vitacura'} #tiene que ser las comunas de gran santiago

print(comunas)

{14166: 'Cerrillos', 14156: 'Cerro Navia', 14127: 'Conchalí', 16165: 'El Bosque', 14157: 'Estación Central', 14158: 'Huechuraba', 13167: 'Independencia', 16110: 'La Cisterna', 15128: 'La Florida', 16131: 'La Granja', 16154: 'La Pintana', 15132: 'La Reina', 15108: 'Las Condes', 15161: 'Lo Barnechea', 16164: 'Lo Espejo', 14155: 'Lo Prado', 15151: 'Macul', 14109: 'Maipú', 15105: 'Ñuñoa', 16162: 'Pedro Aguirre Cerda', 15152: 'Peñalolén', 15103: 'Providencia', 14111: 'Pudahuel', 16301: 'Puente Alto', 14114: 'Quilicura', 14107: 'Quinta Normal', 13159: 'Recoleta', 14113: 'Renca', 16401: 'San Bernardo', 16163: 'San Joaquín', 16106: 'San Miguel', 16153: 'San Ramón', 13101: 'Santiago', 15160: 'Vitacura'}

In [2]:
df_N = pd.read_csv('BRORGA2441N_NAC_2023_2.csv', sep = '|', encoding='ISO-8859-1')

df_N.columns = ['Código SII de la Comuna', 'Número de Manzana', 'Número de Predial', 'Dirección o nombre del predio', 'Avalúo fiscal total', 'Contribución semestral (con aseo)', 'Código de destino principal', 'Avalúo exento de la propiedad', 'Código SII de la Comuna Rol Bien Común 1', 'Número de Manzana Rol Bien Común 1', 'Número de predio Rol Bien Común 1', 'Código SII de la Comuna Rol Bien Común 2', 'Número de Manzana Rol Bien Común 2', 'Número de predio Rol Bien Común 2', 'Superficie total del terreno de la propiedad (sin decimales, en m2)']

df_N

,Código SII de la Comuna,Número de Manzana,Número de Predial,Dirección o nombre del predio,Avalúo fiscal total,Contribución semestral (con aseo),Código de destino principal,Avalúo exento de la propiedad,Código SII de la Comuna Rol Bien Común 1,Número de Manzana Rol Bien Común 1,Número de predio Rol Bien Común 1,Código SII de la Comuna Rol Bien Común 2,Número de Manzana Rol Bien Común 2,Número de predio Rol Bien Común 2,"Superficie total del terreno de la propiedad (sin decimales, en m2)"
0,1101,1,5,M LIRA 315,140818898,0,O,140818898,0,0,0,0,0,0,566
1,1101,1,6,M LIRA 315,39537563,0,O,39537563,0,0,0,0,0,0,126
2,1101,1,8,M LIRA S/N TERMINAL PESQUERO,1934907470,10322732,C,0,0,0,0,0,0,0,8025
3,1101,1,10,MAXIMO LIRA 389,830168525,4428950,O,0,0,0,0,0,0,0,1588
4,1101,1,12,TERMINAL PESQUERO,56253026,0,C,56253026,0,0,0,0,0,0,211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8019049,16404,5087,27,G MARTINEZ V 217,15257408,0,H,15257408,0,0,0,0,0,0,78
8019050,16404,5087,28,G MARTINEZ V 221,15257408,0,H,15257408,0,0,0,0,0,0,78
8019051,16404,5087,29,G MARTINEZ V 225,15257408,0,H,15257408,0,0,0,0,0,0,78
8019052,16404,5087,30,G MARTINEZ V 229,16800599,0,H,16800599,0,0,0,0,0,0,120
8019053,16404,90160,6,ESTACION PAINE,1292859838,0,T,1292859838,0,0,0,0,0,0,98055

In [3]:
df_N = df_N[df_N['Código SII de la Comuna'].isin(comunas.keys())]

df_N.insert(0, 'Cod', df_N.apply(lambda row: str(row['Código SII de la Comuna']) + '-' + str(row['Número de Manzana']), axis=1))
df_N.insert(1, 'Rol', df_N.apply(lambda row: str(row['Número de Manzana']) + '-' + str(row['Número de Predial']), axis=1))

df_N

,Cod,Rol,Código SII de la Comuna,Número de Manzana,Número de Predial,Dirección o nombre del predio,Avalúo fiscal total,Contribución semestral (con aseo),Código de destino principal,Avalúo exento de la propiedad,Código SII de la Comuna Rol Bien Común 1,Número de Manzana Rol Bien Común 1,Número de predio Rol Bien Común 1,Código SII de la Comuna Rol Bien Común 2,Número de Manzana Rol Bien Común 2,Número de predio Rol Bien Común 2,"Superficie total del terreno de la propiedad (sin decimales, en m2)"
4521033,13101-1,1-1,13101,1,1,ALAMEDA LIB. B. OHIGGINS 3 LC 1,115804932,617820,C,0,13101,1,90001,0,0,0,0
4521034,13101-1,1-2,13101,1,2,ALAMEDA LIB. B. OHIGGINS 9,56246553,300078,C,0,13101,1,90001,0,0,0,0
4521035,13101-1,1-3,13101,1,3,ALAMEDA LIB. B. OHIGGINS 15,57962736,302872,C,0,13101,1,90001,0,0,0,0
4521036,13101-1,1-4,13101,1,4,ALAMEDA LIB. B. OHIGGINS 75,86491403,461432,C,0,13101,1,90004,0,0,0,0
4521037,13101-1,1-5,13101,1,5,ALAMEDA LIB. B. OHIGGINS 77,193681656,1033292,C,0,13101,1,90004,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7956548,16401-8012,8012-2,16401,8012,2,DIAGONAL LA VARA 01391,26434828,0,H,26434828,0,0,0,0,0,0,80
7956549,16401-8012,8012-3,16401,8012,3,AV DIAGONAL LA VARA 01387,32281172,0,H,32281172,0,0,0,0,0,0,124
7956550,16401-8012,8012-4,16401,8012,4,DIAGOLAL LA VARA 01371,33946270,0,H,33946270,0,0,0,0,0,0,134
7956551,16401-8012,8012-5,16401,8012,5,DIAGONAL LA VARA 01353,26732790,0,H,26732790,0,0,0,0,0,0,81
7956552,16401-8012,8012-6,16401,8012,6,DIAGONAL LA VARA 01345,35167342,0,H,35167342,0,0,0,0,0,0,159

In [4]:
df_NL = pd.read_csv('BRORGA2441NL_NAC_2023_2.csv', sep = '|')

df_NL.columns = ['Código SII de la Comuna', 'Número de Manzana', 'Número de Predial', 'Número correlativo de la línea de construcción', 'Código del material estructural de la línea de construcción', 'Código de calidad de la línea de construcción', 'Año de la línea de construcción', 'Superficie de la línea de construcción (sin decimales, en m2 o m3 según tipo de construcción)', 'Código de destino de la línea de construcción', 'Código de condición especial de la línea de construcción']

df_NL

,Código SII de la Comuna,Número de Manzana,Número de Predial,Número correlativo de la línea de construcción,Código del material estructural de la línea de construcción,Código de calidad de la línea de construcción,Año de la línea de construcción,"Superficie de la línea de construcción (sin decimales, en m2 o m3 según tipo de construcción)",Código de destino de la línea de construcción,Código de condición especial de la línea de construcción
0,1101,1,4,2,E,3,1925,201,O,NaN
1,1101,1,4,3,C,3,1925,91,O,NaN
2,1101,1,5,1,B,4,1925,213,O,NaN
3,1101,1,5,2,GB,2,1925,13,V,NaN
4,1101,1,6,1,B,4,1925,69,O,NaN
...,...,...,...,...,...,...,...,...,...,...
10441245,16404,90160,6,2,GC,2,1950,520,L,NaN
10441246,16404,90160,6,3,GC,2,1962,240,V,NaN
10441247,16404,90160,6,4,C,4,1962,25,T,NaN
10441248,16404,90160,6,5,E,4,1962,12,V,NaN
10441249,16404,90160,6,6,C,4,2002,59,V,NaN

In [5]:
df_NL = df_NL[df_NL['Código SII de la Comuna'].isin(comunas.keys())]

df_NL.insert(0, 'Cod', df_NL.apply(lambda row: str(row['Código SII de la Comuna']) + '-' + str(row['Número de Manzana']), axis=1))
df_NL.insert(1, 'Rol', df_NL.apply(lambda row: str(row['Número de Manzana']) + '-' + str(row['Número de Predial']), axis=1))

df_NL

,Cod,Rol,Código SII de la Comuna,Número de Manzana,Número de Predial,Número correlativo de la línea de construcción,Código del material estructural de la línea de construcción,Código de calidad de la línea de construcción,Año de la línea de construcción,"Superficie de la línea de construcción (sin decimales, en m2 o m3 según tipo de construcción)",Código de destino de la línea de construcción,Código de condición especial de la línea de construcción
5763450,13101-1,1-1,13101,1,1,1,B,3,1955,64,C,NaN
5763451,13101-1,1-1,13101,1,1,2,B,3,1955,54,C,NaN
5763452,13101-1,1-1,13101,1,1,3,B,3,1955,64,C,SB
5763453,13101-1,1-2,13101,1,2,1,B,3,1955,32,C,NaN
5763454,13101-1,1-2,13101,1,2,2,B,3,1955,32,O,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10358380,16401-8012,8012-2,16401,8012,2,1,C,4,2000,50,H,NaN
10358381,16401-8012,8012-3,16401,8012,3,1,C,4,2000,50,H,NaN
10358382,16401-8012,8012-4,16401,8012,4,1,C,4,2000,50,H,NaN
10358383,16401-8012,8012-5,16401,8012,5,1,C,4,2001,50,H,NaN
10358384,16401-8012,8012-6,16401,8012,6,1,C,4,2000,50,H,NaN

In [6]:
result_df_final = pd.merge(df_N, df_NL, on=['Cod', 'Rol'])
result_df_final

,Cod,Rol,Código SII de la Comuna_x,Número de Manzana_x,Número de Predial_x,Dirección o nombre del predio,Avalúo fiscal total,Contribución semestral (con aseo),Código de destino principal,Avalúo exento de la propiedad,...,Código SII de la Comuna_y,Número de Manzana_y,Número de Predial_y,Número correlativo de la línea de construcción,Código del material estructural de la línea de construcción,Código de calidad de la línea de construcción,Año de la línea de construcción,"Superficie de la línea de construcción (sin decimales, en m2 o m3 según tipo de construcción)",Código de destino de la línea de construcción,Código de condición especial de la línea de construcción
0,13101-1,1-1,13101,1,1,ALAMEDA LIB. B. OHIGGINS 3 LC 1,115804932,617820,C,0,...,13101,1,1,1,B,3,1955,64,C,NaN
1,13101-1,1-1,13101,1,1,ALAMEDA LIB. B. OHIGGINS 3 LC 1,115804932,617820,C,0,...,13101,1,1,2,B,3,1955,54,C,NaN
2,13101-1,1-1,13101,1,1,ALAMEDA LIB. B. OHIGGINS 3 LC 1,115804932,617820,C,0,...,13101,1,1,3,B,3,1955,64,C,SB
3,13101-1,1-2,13101,1,2,ALAMEDA LIB. B. OHIGGINS 9,56246553,300078,C,0,...,13101,1,2,1,B,3,1955,32,C,NaN
4,13101-1,1-2,13101,1,2,ALAMEDA LIB. B. OHIGGINS 9,56246553,300078,C,0,...,13101,1,2,2,B,3,1955,32,O,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4070174,16401-8012,8012-2,16401,8012,2,DIAGONAL LA VARA 01391,26434828,0,H,26434828,...,16401,8012,2,1,C,4,2000,50,H,NaN
4070175,16401-8012,8012-3,16401,8012,3,AV DIAGONAL LA VARA 01387,32281172,0,H,32281172,...,16401,8012,3,1,C,4,2000,50,H,NaN
4070176,16401-8012,8012-4,16401,8012,4,DIAGOLAL LA VARA 01371,33946270,0,H,33946270,...,16401,8012,4,1,C,4,2000,50,H,NaN
4070177,16401-8012,8012-5,16401,8012,5,DIAGONAL LA VARA 01353,26732790,0,H,26732790,...,16401,8012,5,1,C,4,2001,50,H,NaN
4070178,16401-8012,8012-6,16401,8012,6,DIAGONAL LA VARA 01345,35167342,0,H,35167342,...,16401,8012,6,1,C,4,2000,50,H,NaN

In [7]:
result_df_final.drop(['Código SII de la Comuna_y', 'Número de Manzana_y', 'Número de Predial_y'], axis=1, inplace=True)

result_df_final.rename(columns={'Código SII de la Comuna_x': 'Código SII de la Comuna', 'Número de Manzana_x': 'Número de Manzana', 'Número de Predial_x': 'Número de Predial'}, inplace=True)

result_df_final

,Cod,Rol,Código SII de la Comuna,Número de Manzana,Número de Predial,Dirección o nombre del predio,Avalúo fiscal total,Contribución semestral (con aseo),Código de destino principal,Avalúo exento de la propiedad,...,Número de Manzana Rol Bien Común 2,Número de predio Rol Bien Común 2,"Superficie total del terreno de la propiedad (sin decimales, en m2)",Número correlativo de la línea de construcción,Código del material estructural de la línea de construcción,Código de calidad de la línea de construcción,Año de la línea de construcción,"Superficie de la línea de construcción (sin decimales, en m2 o m3 según tipo de construcción)",Código de destino de la línea de construcción,Código de condición especial de la línea de construcción
0,13101-1,1-1,13101,1,1,ALAMEDA LIB. B. OHIGGINS 3 LC 1,115804932,617820,C,0,...,0,0,0,1,B,3,1955,64,C,NaN
1,13101-1,1-1,13101,1,1,ALAMEDA LIB. B. OHIGGINS 3 LC 1,115804932,617820,C,0,...,0,0,0,2,B,3,1955,54,C,NaN
2,13101-1,1-1,13101,1,1,ALAMEDA LIB. B. OHIGGINS 3 LC 1,115804932,617820,C,0,...,0,0,0,3,B,3,1955,64,C,SB
3,13101-1,1-2,13101,1,2,ALAMEDA LIB. B. OHIGGINS 9,56246553,300078,C,0,...,0,0,0,1,B,3,1955,32,C,NaN
4,13101-1,1-2,13101,1,2,ALAMEDA LIB. B. OHIGGINS 9,56246553,300078,C,0,...,0,0,0,2,B,3,1955,32,O,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4070174,16401-8012,8012-2,16401,8012,2,DIAGONAL LA VARA 01391,26434828,0,H,26434828,...,0,0,80,1,C,4,2000,50,H,NaN
4070175,16401-8012,8012-3,16401,8012,3,AV DIAGONAL LA VARA 01387,32281172,0,H,32281172,...,0,0,124,1,C,4,2000,50,H,NaN
4070176,16401-8012,8012-4,16401,8012,4,DIAGOLAL LA VARA 01371,33946270,0,H,33946270,...,0,0,134,1,C,4,2000,50,H,NaN
4070177,16401-8012,8012-5,16401,8012,5,DIAGONAL LA VARA 01353,26732790,0,H,26732790,...,0,0,81,1,C,4,2001,50,H,NaN
4070178,16401-8012,8012-6,16401,8012,6,DIAGONAL LA VARA 01345,35167342,0,H,35167342,...,0,0,159,1,C,4,2000,50,H,NaN

In [8]:
import numpy as np

result_df_final.describe()

,Código SII de la Comuna,Número de Manzana,Número de Predial,Avalúo fiscal total,Contribución semestral (con aseo),Avalúo exento de la propiedad,Código SII de la Comuna Rol Bien Común 1,Número de Manzana Rol Bien Común 1,Número de predio Rol Bien Común 1,Código SII de la Comuna Rol Bien Común 2,Número de Manzana Rol Bien Común 2,Número de predio Rol Bien Común 2,"Superficie total del terreno de la propiedad (sin decimales, en m2)",Número correlativo de la línea de construcción,Código de calidad de la línea de construcción,Año de la línea de construcción,"Superficie de la línea de construcción (sin decimales, en m2 o m3 según tipo de construcción)"
count,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06,4.070179e+06
mean,1.492453e+04,3.429622e+03,9.375889e+02,2.503811e+08,7.795183e+05,6.552050e+07,7.459936e+03,1.418483e+03,4.562762e+04,1.496613e+01,2.830216e+00,8.874537e+01,5.407064e+02,1.425652e+00,3.542647e+00,1.979621e+03,6.466763e+01
std,9.837804e+02,5.359193e+03,8.156509e+03,4.593032e+09,2.280334e+07,1.502647e+09,7.399397e+03,4.984626e+03,4.506877e+04,4.776965e+02,1.254620e+02,2.830221e+03,8.926105e+03,1.659697e+00,8.048750e-01,1.773399e+02,5.053550e+02
min,1.310100e+04,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,1.411400e+04,7.090000e+02,1.500000e+01,1.434534e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.000000e+00,1.983000e+03,1.300000e+01
50%,1.510800e+04,2.404000e+03,5.500000e+01,3.643039e+07,8.120000e+03,3.083850e+07,1.310100e+04,1.500000e+01,9.000100e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,4.000000e+00,1.998000e+03,3.700000e+01
75%,1.516100e+04,5.121000e+03,2.830000e+02,7.088332e+07,7.854000e+04,5.453305e+07,1.510500e+04,1.302000e+03,9.004100e+04,0.000000e+00,0.000000e+00,0.000000e+00,1.620000e+02,2.000000e+00,4.000000e+00,2.011000e+03,5.700000e+01
max,1.640100e+04,9.930000e+04,9.099800e+04,5.111033e+11,2.726736e+09,2.561296e+11,1.640100e+04,8.815600e+04,9.099800e+04,1.630100e+04,8.502000e+03,9.084600e+04,1.290000e+06,2.520000e+02,5.000000e+00,2.023000e+03,2.038000e+05